@font-face {
  font-family: Junction;
  src: url('/fonts/Junction.otf');
}

@font-face {
  font-family: 'REZ';
  src: url('/fonts/rez-webfont.eot');
  src: url('/fonts/rez-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/rez-webfont.woff') format('woff'),
       url('/fonts/rez-webfont.ttf') format('truetype'),
       url('/fonts/rez-webfont.svg#REZRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
  padding-top: 1em;
  line-height: 1.45;
}

h1, h2, h3 {
  font-family: Junction, Arial;
}

.header {
  background-color: #494949;
  padding: 15px 50px;
  margin: 5px 0 25px 0;
  color: #c9c9c9;
}

.header .heading {
  display: block;
  width: 710px;
  margin: 0 auto;
  font-family: REZ, Arial;
  font-size: 4em;
  line-height: 1;
}

.header .heading a {
  text-decoration: none;
  border: none;
}

.header .heading img {
  vertical-align: -20%;
  margin-right: 10px;
}

h2 {
  text-align: center;
  color: #333;
}

p {
  font-size: 1.2em;
  text-align: justify;
}

.phone em {
  padding-left: 5px;
  color: #777;
}

ul.navigation {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #ccc;
}

ul.navigation li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 2;
}

ul.navigation li.selected {
  background-color: #ccc;
  font-weight: bold;
}

ul.navigation li a {
  display: block;
}

.bio {
  margin-bottom: 10px;
}

.bio.last {
  margin-bottom: 35px;
}

.bio .name {
  display: inline-block;
  margin-top: 8px;
  margin-left: -190px;
  width: 180px;
  text-align: right;
  float: left;
}

.bio .name span {
  font-family: Junction, Arial;
  background: #ccc;
  padding: 8px 8px 6px 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
}

p.footer {
  display: block;
  float: right;
  font-size: 100%;
  text-align: right;
  padding: 6px 10px;
  background-color: #ccc;
}
