body.landing
  section.orange
    background-color: #D09E72
    color: #fff
    padding: 60px
    margin: 40px 0
    img
      margin-top: 20px
  section.centered
    text-align: center
    margin: 80px
  img.avatar
    width: 128px
    height: 128px
    border-radius: 128px

  #hero
    h1
      font-size: 48px
    p.lead
      color: #5F3109
    @media (min-width: 768px)
      p.lead
        font-size: 30px
  section.letter
    padding: 40px 0
    background-color: #FFF2E7
    text-align: justify
    font-size: 16px
